.accordion {
  max-width: 600px;
  margin: 0 auto;
}

.accordion-checkbox {
  display: none;
}

.accordion-label {
  background-color: #f1f1f1;
  border: none;
  padding: 15px;
  width: 100%;
  text-align: left;
  outline: none;
  font-size: 16px;
  cursor: pointer;
  transition: 0.5s;
  display: block;
}

.accordion-label:hover {
  background-color: #ddd;
}

.accordion-content {
  width: 100%;
  padding: 0 15px;
  display: none;
  overflow: hidden;
  background-color: rgb(72, 201, 72);
  color: rgb(255, 255, 255);
}

.accordion-checkbox:checked + .accordion-label + .accordion-content {
  display: block;
}
